* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(36, 193, 214));
}

.sample>table{
  margin: 10vh auto;
  width: 95%;
}

.Title{
  margin-top: 50px;
}

.selectDLL{
  background-color: aqua;
  width: 100px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HeadLines{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tables{
  display: flex;
  margin: 10px;
  flex-grow: 1;
}

.Nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;

}

.headerDiv{
  width: 100%;
}

li{
  padding: 10px;
}

ul{
  list-style: none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table {
  width:50%; 
  table-layout:fixed;
  overflow-x:scroll; 
  white-space:nowrap;
  margin-top: 20px;
  border:1px solid black;
  border-collapse: collapse;
}

th, td, tr{
  padding: 5px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border:1px solid black;
  border-collapse: collapse;
}
.aboutMe{
  width: 150px;  
}

.logoImg{
  width: 200px;
}

.column-left{
  width: 100%;
  padding: 5px;
}

.leftTable{
  margin-left: 300px;
}

.processTable{
  overflow-x: scroll;
 
}

.rightTable{
  overflow-x: scroll;
}


.column-right{
  margin-right: 100px;
  width: 100%;
}

.column-right-td{
  width: 400px;
  padding: 20px;
}

.box1 {
    align-self: center;
    width: 800px;
    font-size: 25px;
    border: 10px solid blue;
    text-align: center;
  }

a{
  text-decoration: none;
  color: black;
}

a:hover{
    color: blue;

  }

  .tdMainTable{
    text-align: center;
  }

  .warningImg{
    width: 30px;
  }

  .aboutMeText{
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    padding: 10px;
    align-self: center;
    width: 800px;
    font-size: 25px;
  }

  .github{
    margin-right: 50px;
  }

  .video{
    position: absolute;
    bottom: 20px;
    left: 700px;
    height: 300px;
    width: 300px;
  }
  .guitarImg{
    position: absolute;
    left: 100px;
    top: 300px;
  }

  .computerImg{
    position: absolute;
    right: 150px;
    top: 300px;
  }

  .musicImg{
    position: absolute;
    bottom: 150px;
    left: 200px;
  }

  .moviesImg{
    position: absolute;
    bottom: 150px;
    right: 400px;
  }